* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1rem;
  color: #7469b6;
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  border: none;
  background-color: #e1afd1;
  transition: 0.2s ease;
}

button:hover {
  color: #e1afd1;
  background-color: #ad88c6;
  cursor: pointer;
  transform: translate(1px 1px);
}

#container {
  display: grid;
  grid-template-rows: 200px;
}

#header {
  font-size: 4rem;
  color: #e1afd1;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: hsl(249, 35%, 36%);
  box-shadow: 1px 1px 15px #000;
}

#content {
  height: 100dvh;
  background-color: hsl(249, 35%, 66%);
  display: grid;
  grid-template-columns: 250px 1fr;
}

.sidebar {
  background-color: hsl(249, 35%, 26%);
  color: #e1afd1;
  padding: 30px;
}

.item {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input[type="text"] {
  height: 2rem;
  border: 0;
  background-color: #e1afd1;
  width: 100%;
  margin: 5px 0 0 0;
}

input[type="checkbox"] {
  height: 2rem;
  border: 0;
  background-color: #e1afd1;
  width: 1rem;
  margin: 0 0 0 15px;
}

.book {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  font-size: 1rem;
  padding: 20px;
  line-height: 1.5rem;
  background-color: hsl(249, 35%, 26%);
  color: #e1afd1;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 30px;
}

p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
